# project is a virtual environment.
project 

# secrets.sh contains QPX google flights API keys.
secrets.sh

# ignore all .pyc files
*.pyc

# ignore node modules
node_modules

# ignore env
env

# ignore htmlcov
htmlcov