

/*tabs */

.tabsdemoDynamicHeight md-content {
  background-color: transparent !important; }
  .tabsdemoDynamicHeight md-content md-tabs {
    background: #f6f6f6;
    border: 1px solid #e1e1e1; }
    .tabsdemoDynamicHeight md-content md-tabs md-tabs-wrapper {
      background: white; }
  .tabsdemoDynamicHeight md-content h1:first-child {
    margin-top: 0; }

a:link {
    color: white;
}

a:hover {
    text-decoration: none;
}

#insky-logo {
    font-family: 'Nunito', sans-serif;
    color: white;
    margin-left: 40px;
  }

#insky-head {
    font-family: 'Nunito', sans-serif;
    color: white;
    margin-top: -40px;
    margin-bottom: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #39AFC1;
}

#title {
    font-family: 'Nunito', sans-serif;
    color: black;
}

#total{
  font-size: 15pt;
}

#logo-text{
  margin-left: 57%;
}

#flight{
  margin-left: -5%;
}

#logo-result{
  margin-left: 10%;
}

#flight-result{
  margin-left: -55%;
}

/*carousel */
  .container {
      padding: 80px 120px;
  }
  .person {
      border: 10px solid transparent;
      margin-bottom: 25px;
      width: 80%;
      height: 80%;
      opacity: 0.7;
  }
  .person:hover {
      border-color: #f1f1f1;
  }
  .carousel-inner img {
     /* -webkit-filter: grayscale(90%);
      filter: grayscale(90%); /* make all photos black and white */ 
      width: 10000px; /* Set width to 100% */
      height: 500px;
      margin: auto;
  }
  .carousel-caption h3 {
      color: #fff !important;
  }
  @media (max-width: 600px) {
    .carousel-caption {
      display: none; /* Hide the carousel text when the screen is less than 600 pixels wide */
    }
  }