{% extends 'base.html' %}
{% block content %}

    <h2>Welcome to Flights</h2>

    <h4>Please insert the values</h4>    
<!-- User form to input trip information -->
    <form action="/results" method="POST">
    <label for="user-departure">Departure:</label>
    <input type="text", name="departure", id="user-departure", value="LAX", required/>
    <br></br>

    <label for="user-arrival">Arrival:</label>
    <input type="text", name="arrival", id="user-arrival", value="SFO", required/>
    <br></br>

    <label for="user-departure-date">Departure Date:</label>
    <input type="date", name="departure-date", id="user-departure-date", value="2016-09-10", required/>
    <br></br>

    <label for="user-arrival-date">Arrival Date:</label>
    <input type="date", name="arrival-date", id="user-arrival-date", value="2016-11-10", required/>
    <br></br>

    <label for="user-results">Number of results:</label>
    <input type="number", name="results", min="1", max="3", id="user-results", value="3", required/>
    <br></br>

    <input type="submit", value="Search"/>

    </form>
    

{% endblock %}