{% extends 'base.html' %}
{% block content %}

<h2>Welcome to Flights</h2>

<h4>Please insert the values</h4>  

<!-- recently in the bottom -->

  <div ng-cloak="" class="tabsDynamicHeight" ng-app="flightApp">
  <md-content>
    <md-tabs md-dynamic-height="" md-border-bottom="">
      <md-tab label="Round Trip">
        <md-content class="md-padding">
          <h1 class="md-display-2">1</h1>
          <p>

            <div ng-controller="ctrlForm">
                <div form-roundtrip> </div>
            </div>
        
              </p>
            </md-content>
          </md-tab>
          <md-tab label="One-Way">
            <md-content class="md-padding">
              <h1 class="md-display-2">2</h1>
              <p>
                <div ng-controller="ctrlForm">
                    <div form-oneway> </div>
                </div>
            </p>
            </md-content>
          </md-tab>
          <md-tab label="Multi-city">
            <md-content class="md-padding">
              <h1 class="md-display-2">3</h1>
              <p>
                 <div ng-controller="ctrlForm">
                    <div form-multicity> </div>
                </div>
              </p>
            </md-content>
          </md-tab>
        </md-tabs>
      </md-content>
    </div>


<script src="/static/js/forms.js"></script>
           

{% endblock %}
