{% extends 'base.html' %}
{% block content %}

<div id="insky-head">  
    <div id="insky-logo" class="row">
    <div class="col-md-6"><h1><div id="logo-result">Fly with inSky</div></h1></div>
    <div class="col-md-6"><img id="flight-result" src="/static/img/flight-icon.png" style="width:150px;"></div>
    </div>
</div>
  
    <div class="container">
    
        <center>
            <div id="title">
                <h1>Multi-city Trip</h1>
            </div>
        </center>

        <div class="panel panel-default">
        <table class="table table-striped">

            <thead>
              <tr>
                <th>Departing on</th>
                <th>From</th>
                <th>Arriving on</th>
                <th>To</th>
                <th>Airlines</th>
                <th>Aircraft Number</th>
                <th>Flight Duration</th>
                <th>Airfare</th>
                <th>Tax</th>
                <th>Total</th>
              </tr>
            </thead>
            <tbody>

                            {% for result in cheap_airfares_info %}

                        <tr>

                        <td> {{ result[0][0]['departure_date'] }} {{ result[0][0]['departure_time'] }}</td>
                        <td> {{ result[0][0]['airport_code_departure'] }}: {{ result[0][0]['airport_name_departure'] }}</td>
                        <td> {{ result[0][0]['arrival_date'] }} {{ result[0][0]['arrival_time'] }}</td>
                        <td> {{ result[0][0]['airport_code_arrival'] }}: {{ result[0][0]['airport_name_arrival'] }}</td>
            
                        <td> <a href="//{{ result[1] }} ">{{ result[0][0]['carrier_name'] }} </a> </td>
                        <td> {{ result[0][0]['carrier_code'] }} - {{ result[0][0]['aircraft_number'] }} </td>
                        <td> {{ result[0][0]['flight_duration'] }} minutes</td>


                            {% set currency = result[0][0]['sale_fare_total'][:3] %}

                            <td> {{ currency }} ${{ result[0][0]['sale_fare_total'][3:] }}</td>
                            <td> {{ currency }}  ${{ result[0][0]['sale_tax_total'][3:] }}</td>
                            <td> {{ currency }}  ${{ result[0][0]['sale_total'][3:] }}</td>  
                        
                                {% endfor %}

        </table>

                            <div id="total" class="col-md-6">
                            <br></br>
                            <b>Multi-city Airfare Total: ${{ total }}</b>
                            </div>
        </div>
    </div>
                         

{% endblock %}
