<!-- One Way Form -->

<form action="/results" method="POST">

    <label for="user-departure">Departure:</label>
    <input type="text", name="departure", ng-model="departure", id="user-departure", placeholder="Input airport code", required/>
    <br></br>

    <label for="user-arrival">Arrival:</label>
    <input class="form_control", type="text", name="arrival", ng-model="arrival", id="user-arrival", placeholder="Input airport code" required/>
    <br></br>

    <label for="user-departure-date">Departure Date:</label>
    <input class="form_control", name="departure_date" uib-datepicker-popup="{{dateformat}}" min-date="mindate" ng-model="departure_date" id="user-departure-date" is-open="showdp" placeholder="Departure date", required/>
    <span>
        <button type="button" class="btn btn-default" ng-click="showcalendar($event)">
            <i class="glyphicon glyphicon-calendar"></i>
        </button>
    </span>
    </div>
    <br></br>

    <input class="form_control", type="submit", value="Find"/>

    <!-- <label for="user-results">Number of results:</label> -->
    <input class="form_control", type="hidden", name="results", ng-model="results", min="1", max="3", id="user-results", value="{{ results }}", required/>
    <br></br>

    <input class="form_control", type="hidden", name="return_date", ng-model="return_date", id="user-return-date"/>
    <br></br>

</form>