<!-- One Way Form -->
<!-- <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
 -->

<div style="padding-left: 450px">
<form class="form-inline" action="/results" method="POST">
    
    <label for="user-departure">Departure:</label>
    <input class="form-control" type="text", name="departure", ng-model="departure", id="user-departure", placeholder="Input airport code", required/>

  
    <label for="user-arrival">Arrival:</label>
    <input class="form-control", type="text", name="arrival", ng-model="arrival", id="user-arrival", placeholder="Input airport code" required/>
     <br></br>

    <label for="user-departure-date">Departure Date:</label>
    <input class="form-control", name="departure_date" uib-datepicker-popup="{{dateformat}}" min-date="mindate" ng-model="departure_date" id="user-departure-date" is-open="showdp" placeholder="yyyy-mm-dd", required/>
    <span>
        <button type="button" class="btn btn-default" ng-click="showcalendar($event)">
            <i class="glyphicon glyphicon-calendar"></i>
        </button>
    </span>
    <br></br>

    <div style="padding-left: 200px">
    <input class="btn btn-default active", type="submit", value="Find"/>
    </div>

    <!-- <label for="user-results">Number of results:</label> -->
    <input class="form-control", type="hidden", name="results", ng-model="results", min="1", max="3", id="user-results", value="{{ results }}", required/>
    <br></br>

    <input class="form-control", type="hidden", name="return_date", ng-model="return_date", id="user-return-date"/>
    <br></br>

</form>
</div>
